<mat-toolbar color="secondary">
  <mat-toolbar-row class="row between-xs middle-xs header-row">
      <nav class="margin">
        <a mat-button color="accent" routerLink="/home"     routerLinkActive="mat-raised-button">Home</a>
        <a mat-button color="accent" routerLink="/products" routerLinkActive="mat-raised-button">Products</a>
        <a mat-button color="accent" routerLink="/contact"  routerLinkActive="mat-raised-button">Contact</a>
      </nav>
      <a class="margin" mat-raised-button matBadge="8" matBadgePosition="after" matBadgeColor="accent">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
  </mat-toolbar-row>
</mat-toolbar>

